<blockquote>
<p>Уважаемые преподаватели, аспиранты, студенты СНГ!</p>
<p>Государственное высшее учебное заведение «Переяслав-Хмельницкий государственный педагогический университет имени Григория Сковороды», молодежная общественная организация «Независимая ассоциация молодежи», студенческое научное общество исторического факультета «Комитет исследования истории и современности»</p>
<p>Информируют Вас, что с 27 по 28 февраля 2014 г. проводится XХ Международная научно-практическая интернет-конференция «Проблемы и перспективы развития науки в начале третьего тысячелетия в странах СНГ».</p></blockquote>

<h3>Планируется работа по секциям:</h3>

<hr/>

<div class="panel-group" id="accordion">
	<div class="row">
		<div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
              БИОЛОГИЧЕСКИЕ НАУКИ
          	</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">
						<ul>
              <li>Систематика и география высших растений</li>
              <li>Структурная ботаника и биохимия растений.</li>
              <li>Микология и альгология.</li>
              <li>Ресурсоведение и интродукция растений.</li>
              <li>Молекулярная биология, микробиология.</li>
              <li>Зоология.</li>
              <li>Физиология человека и животных.</li>
              <li>Биохимия и биофизика.</li>
              <li>Генетика и цитология.</li>
              <li>Биоинженерия и биоинформатика.</li>
						</ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
              ГЕОГРАФИЯ И ГЕОЛОГИЯ
          	</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
						<ul>
              <li>Регионоведение и региональная организация общества.</li>
              <li>Наблюдение, анализ и прогноз метеорологических условий.</li>
              <li>Гидрология и водные ресурсы.</li>
              <li>Биогеография, биоресурсоведение, биоразнообразие. </li>
              <li>Картография и геоинформатика.</li>
              <li>Природопользование и экологический мониторинг.</li>
              <li>Техника и технологии геологоразведочных работ.</li>
              <li>Почвоведение.</li>
              <li>Экономическая география.</li>
						</ul>
          </div>
        </div>
      </div>      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
						  ГОСУДАРСТВЕННОЕ УПРАВЛЕНИЕ
          	</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">
						<ul>
              <li>Повышение роли государственного служащего на современном этапе развития общества.</li>
              <li>Современные технологии управления.</li>
              <li>Взаимодействие различных ветвей власти.</li>
              <li>Подготовка государственных служащих.</li>
						</ul>
          </div>
        </div>
      </div>       
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
              ЭКОЛОГИЯ
          	</a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
          <div class="panel-body">
          	<ul>
              <li>Состояние биосферы и его влияние на здоровье людей.</li>
              <li>Экологические и метеорологические проблемы больших городов и промышленных зон.</li>
              <li>Радиационная безопасность и социально-экологические проблемы.</li>
              <li>Промышленная экология и медицина труда.</li>
              <li>Проблемы экологического воспитания молодежи.</li>
						</ul>				
          </div>
        </div>
      </div> 
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
              ЭКОНОМИКА
            </a>
          </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
          <div class="panel-body">
          	<ul>
              <li>Банки и банковская система.</li>
              <li>Внешнеэкономическая деятельность.</li>
              <li>Финансовые отношения.</li>
              <li>Инвестиционная деятельность и фондовые рынки.</li>
              <li>Управление трудовыми ресурсами.</li>
              <li>Маркетинг и менеджмент.</li>
              <li>Учет и аудит.</li>
              <li>Математические методы в экономике.</li>
              <li>Экономика промышленности.</li>
              <li>Экономика предприятия.</li>
              <li>Логистика.</li>
              <li>Экономика АПК.</li>
              <li>Региональная экономика.</li>
              <li>Экономическая теория.</li>
              <li>Государственное регулирование экономикой.</li>
              <li>Макроэкономика.</li>
						</ul>
          </div>
        </div>
      </div> 
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
              ИСТОРИЯ
          	</a>
          </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse">
          <div class="panel-body">
          	<ul>
              <li>История Украины.</li>
              <li>Всемирная история.</li>
              <li>История науки и техники.</li>
              <li>Этнография.</li>
              <li>Устная история.</li>
              <li>История стран СНГ.</li>
						</ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
              МАТЕМАТИКА
          	</a>
          </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse">
          <div class="panel-body">
          	<ul>
              <li>Дифференциальные и интегральные уравнения.</li>
              <li>Перспективы систем информатики.</li>
              <li>Теория вероятностей и математическая статистика.</li>
              <li>Прикладная математика.</li>
              <li>Математическое моделирование.</li>
						</ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
              ИСКУССТВО
          	</a>
          </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse">
          <div class="panel-body">
          	<ul>
              <li>Музыкальное искусство.</li>
              <li>Искусство танца.</li>
              <li>Театральное искусство.</li>
              <li>Фото и киноискусство.</li>
              <li>Искусство дизайна.</li>
						</ul>
          </div>
        </div>
      </div>            
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
              ПЕДАГОГИКА
          	</a>
          </h4>
        </div>
        <div id="collapse9" class="panel-collapse collapse">
          <div class="panel-body">
          	<ul>
              <li>Музыкальное искусство.</li>
              <li>Искусство танца.</li>
              <li>Театральное искусство.</li>
              <li>Фото и киноискусство.</li>
              <li>Искусство дизайна.</li>
						</ul>
          </div>
        </div>
      </div>            
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
              ПОЛИТОЛОГИЯ
          	</a>
          </h4>
        </div>
        <div id="collapse10" class="panel-collapse collapse">
          <div class="panel-body">
          	<ul>
              <li>Музыкальное искусство.</li>
              <li>Искусство танца.</li>
              <li>Театральное искусство.</li>
              <li>Фото и киноискусство.</li>
              <li>Искусство дизайна.</li>
						</ul>
          </div>
        </div>
      </div>            
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
              ПРАВО
          	</a>
          </h4>
        </div>
        <div id="collapse11" class="panel-collapse collapse">
          <div class="panel-body">
          	<ul>
              <li>История государства и права.</li>
              <li>Административное и финансовое право.</li>
              <li>Охрана авторских прав.</li>
              <li>Трудовое право и право социального обеспечения.</li>
              <li>Уголовное право и криминология.</li>
              <li>Борьба с экономическими преступлениями.</li>
              <li>Экологическое, земельное и аграрное право.</li>
              <li>Конституционное право.</li>
              <li>Гражданское право.</li>
              <li>Хозяйственное право.</li>
              <li>Криминалистика и судебная медицина.</li>
              <li>Предпринимательское и банковское право.</li>
              <li>Уголовно-процессуальное право.</li>
						</ul>
          </div>
        </div>
      </div>            
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse12">
              ПСИХОЛОГИЯ
          	</a>
          </h4>
        </div>
        <div id="collapse12" class="panel-collapse collapse">
          <div class="panel-body">
          	<ul>
              <li>Место психолога на производстве.</li>
              <li>Формы работы психолога-практика.</li>
              <li>Современные тенденции в методологии психологических исследований.</li>
              <li>Психология терроризма.</li>
              <li>Психолого-педагогические проблемы развития личности в современных условиях.</li>
              <li>Клиническая психология.</li>
              <li>Общая психология.</li>
              <li>Педагогическая психология.</li>
              <li>Психология развития.</li>
              <li>Психология труда.</li>
              <li>Психофизиология.</li>
              <li>Социальная психология.</li>
						</ul>
          </div>
        </div>
      </div>  
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse13">
              СОЦИОЛОГИЯ
          	</a>
          </h4>
        </div>
        <div id="collapse13" class="panel-collapse collapse">
          <div class="panel-body">
          	<ul>
              <li>Кадровый менеджмент.</li>
              <li>Современные технологии социального опроса.</li>
						</ul>
          </div>
        </div>
      </div>         
    </div>
    <div class="col-sm-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse14">
              СОВРЕМЕННЫЕ ИНФОРМАЦИОННЫЕ ТЕХНОЛОГИИ
          	</a>
          </h4>
        </div>
        <div id="collapse14" class="panel-collapse collapse">
          <div class="panel-body">
          	<ul>
              <li>Компьютерная инженерия.</li>
              <li>Вычислительная техника и программирование.</li>
              <li>Программное обеспечение.</li>
              <li>Информационная безопасность.</li>
						</ul>
          </div>
        </div>
      </div>            
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse15">
              ФИЗИЧЕСКАЯ КУЛЬТУРА И ПРОФЕССИОНАЛЬНЫЙ СПОРТ
          	</a>
          </h4>
        </div>
        <div id="collapse15" class="panel-collapse collapse">
          <div class="panel-body">
          	<ul>
              <li>Физическая культура и спорт: проблемы исследования, предложения.</li>
              <li>Развитие физкультуры и спорта в современных условиях.</li>
						</ul>
          </div>
        </div>
      </div>            
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse16">
              ФИЛОЛОГИЧЕСКИЕ НАУКИ
          	</a>
          </h4>
        </div>
        <div id="collapse16" class="panel-collapse collapse">
          <div class="panel-body">
          	<ul>
              <li>Методика преподавания языка и литературы.</li>
              <li>Риторика и стилистика.</li>
              <li>Теоретические и методологические проблемы исследования языка.</li>
              <li>Синтаксис: структура, семантика, функция.</li>
              <li>Методы и приемы контроля уровня владения иностранным языком.</li>
              <li>Актуальные проблемы перевода.</li>
              <li>Язык, речь, речевая коммуникация.</li>
              <li>Украинский язык и литература.</li>
              <li>Русский язык и литература.</li>
              <li>Этно-, социо-и психолингвистика.</li>
						</ul>
          </div>
        </div>
      </div>            
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse17">
              ФИЛОСОФИЯ
          	</a>
          </h4>
        </div>
        <div id="collapse17" class="panel-collapse collapse">
          <div class="panel-body">
          	<ul>
              <li>Философия литературы и искусства.</li>
              <li>Социальная философия.</li>
              <li>История философии.</li>
              <li>Философия культуры.</li>
              <li>Философия религии.</li>
              <li>Философия науки.</li>
						</ul>
          </div>
        </div>
	    </div>   
      
    </div>
	</div>
</div>

<hr/>

<p>Оргкомитет конференции планирует размещать доклады на <a href="http://conferences.neasmo.org.ua">этом сайте</a>. Скачать электронный сборник можно будет через неделю после окончания конференции.</p>

<hr/>

<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	<i class="fa fa-globe pull-right"></i>
		    	Рабочие языки конференции:
		    </h3>
		  </div>
		  <div class="panel-body">
				<p>украинский, русский, английский французский, белорусский, грузинский, армянский, азербайджанский, казахский, узбекский, таджикский, киргизский, молдавский, туркменский.</p>
		  </div>
		</div>
	</div>
	<div class="col-sm-4">

		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	<i class="fa fa-money pull-right"></i>
		    	Стоимость участия в конференции:
		    </h3>
		  </div>
		  <div class="panel-body">
				<p>10 USD (370 рублей) (в оргвзнос входит оплата за размещение на сайте, верстка макета и редактирование текстов)</p>
		  </div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	<i class="fa fa-calendar pull-right"></i>
		    	Последний срок подачи материалов:
		    </h3>
		  </div>
		  <div class="panel-body">
				<p>до 26 февраля 2014 года включительно</p>
		  </div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	Для участников стран СНГ (за исключением Украины) средства перечисляются следущиим образом:
		    </h3>
		  </div>


      <h4>«Юнистрим»</h4>
      <p>Переводы по системе «Юнистрим» для Бобровника Юрия Викторовича в пунктах Приват Банк г. Переяслав-Хмельницкий (в квитанции должен бить указан код перевода и Ф.И.О. того, кто переводил деньги, страна). <span class="text-muted">Комисия 0,15 USD</span></p>




		  <div class="panel-body">
				<address>
				<strong>Р/р:</strong> 26002273854001<br>
				<strong>ПАТ КБ</strong> «Надра» ЦЕНТР <br>
				<strong>МФО</strong> 380764 <br>
				<strong>Одержувач:</strong> МГО «Незалежна асоціація молоді». Ідентифікаційний код за ЄДРПОУ – 26426765.<br>
				<strong>Призначення платежу:</strong> благодійний внесок на проведення конференції П.І.П. автора статті.
				<address>
				<hr/>
				<p>Або на картку &laquo;Приват Банк&raquo;:<br/><strong>5457 0829 1319 9290</strong> (одержувач - Бобровнік Юрій Вікторович)<br/>та відправити SMS підтвердження про оплату на мобільний номер:<br/><i class="fa fa-phone"></i> (097) 923-16-58.<br/>У повідомленні потрібно вказати прізвище учасника конференції.</p>
		  </div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	До участі у конференції приймаються статті:
		    </h3>
		  </div>
		  <div class="panel-body">
		  	<ul class="list-unstyled">
					<li>Обсяг від 5 до 7 сторінок набраних у редакторі Microsoft Word</li>
					<li>У вигляді комп’ютерного файла з розширенням *.doc</li>
					<li>Шрифт Times New Roman 14</li>
					<li>Міжрядковий інтервал 1,5</li>
					<li>Поля з усіх сторін 20 мм</li>
				</ul>
				<hr/>
				<p><strong>Електронною поштою:</strong></p>
				<ul class="list-unstyled">
					<li><strong>E-mail</strong>: <a href="mailto:neasmo@gmail.соm">neasmo@gmail.соm</a></li>
					<li><strong>Тема повідомлення</strong>: &laquo;27-28 лютого 2014 року&rowaquo;</li>
					<li class="text-muted">(уразі якщо у Вас виникає помилка відправлення, спробуйте переслати на адресу neasmo@ukr.net)</li>
				</ul>
				<p><strong>Або на СD-дисках</strong></p>
				<ul class="list-unstyled">
					<li>Із додаванням друкованих матеріалів, та відсканованої копії чи ксероксу квитанції про сплату оргвнеску. (дискети не приймаються)</li>
					<li>У разі відправки коштів оргвнеску на картку Приватбанку ксерокопію квитанції не надсилається (достатньо відправити SMS вказавши прізвище автора доповіді).</li>
				</ul>
		  </div>
		</div>
	</div>	
</div>


<div class="alert alert-info">
<h4><i class="fa fa-info-circle"></i> Зверніть увагу</h4>
<p>У разі відправки статті та квитанції про оплату оргвнеску електронною поштою, надсилати друковані матеріали Укрпоштою не потрібно!</p>
</div>

<div class="alert alert-info">
<h4><i class="fa fa-info-circle"></i> Зверніть увагу</h4>
<p>Після того, як ми отримали від Вас статтю, Ви обов’язково маєте отримати повідомлення-відповідь: «Вашу статтю отримано та зараховано». Якщо така відповідь не надійшла через день після надсилання, тоді обов’язково зателефонуйте оргкомітету і повідомте про ситуацію.</p>
</div>

<div class="alert alert-danger">
	<div class="row">
		<div class="col-md-6">
			<h4><i class="fa fa-warning"></i> Дуже важливо!</h4>
			<p>Роботи з малюнками та таблицями приймаються лише у тому разі, якщо вони подані у форматі JPEG окремим файлом.</p>
		</div>
		<div class="col-md-6">
			<h4>Не приймаються!</h4>
			<ul>
				<li>Документи об’ємом менше 3 сторінок</li>
				<li>Тексти, набрані міжрядковим інтервалом 1,0</li>
			</ul>
		</div>
	</div>
</div>

<p>&nbsp;</p>
<h3 class="text-center">ЗРАЗОК ОФОРМЛЕННЯ СТАТЕЙ</h3>
<p>&nbsp;</p>

<div class="well">
<div class="row">
	<div class="col-md-1">
	</div>
		<div class="col-md-10">
			<p class="text-right">ПІБ автора<br />Місто<br />за зразком Іван Петренко<br />(Київ, Україна)</p>
			<p class="text-right">Секція, підсекція за зразком ФІЛОЛОГІЧНІ НАУКИ<br />(Методика викладання мови та літератури)</p>
			<h3 class="text-center">НАЗВА СТАТТІ<br><small>(великими літерами)</small></h3>
			<p class="text-center">Текст статті<br />(посилання на літературу по тексту у квадратичних дужках за зразком [1, с. 23])</p>
			<p>Література:</p>
			<ol>
			<li>Коцур В.П. Історія середніх віків: [у 2-х т.]. – Т.1. Раннє середньовіччя: курс лекцій. / В.П. Коцур, В.О. Балух. – Чернівці: Наші книги, 2009. – 496 с.</li>
			<li>Пангелов Б.П. Організація і проведення туристсько-краєзнавчих подорожей: навч. посіб. / Б.П. Пангелов. – К.: Академвидав, 2010. – 248 с.</li>
			</ol>
			<p class="text-right">Науковий керівник: кандидат філологічних наук, Петренко Іван Петрович</p>
			<div class="alert alert-info">
			<strong>Увага!</strong>
			<p>Після літератури (у правому куті вказується науковий керівник (для студентів та аспірантів)) подаються відомості про авторів (П.І.П. (повністю) домашня адреса, код міста, телефон, E-mail, місце роботи або навчання, посада, вчене звання, науковий ступінь.</p>
		</div>
	</div>
	<div class="col-md-1">
	</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Координатор:</h3>
		  </div>
		  <div class="panel-body">
				<p>Бобровнік Юрій Вікторович</p>
		    <p><strong>Контактні телефони:</strong></p>
				<p><i class="fa fa-phone"></i> (097) 923 16 58, (093) 335 78 86</p>
		  </div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Адреса оргкомітету:</h3>
		  </div>
		  <div class="panel-body">
				<p>08401, Київська обл. м. Переяслав-Хмельницький, вул. Сухомлинського, 32, гурт. 1, кім. 108.</p>
		  </div>
		</div>
	</div>
</div>

<p class="text-muted text-center">З результатами та форматом проведення попередніх конференцій можна ознайомитися на <a href="http://conferences.neasmo.org.ua">цьому сайті</a>.</p>