<blockquote>
<p>Шановні викладачі, аспіранти, студенти!</p>
<p>Державний вищий навчальний заклад «Переяслав-Хмельницький державний педагогічний університет імені Григорія Сковороди», молодіжна громадська організація «Незалежна асоціація молоді», студентське наукове товариство історичного факультету «Комітет дослідження історії та сучасності»</p>
<p>Інформують Вас, що з 27-28 лютого 2014 р. проводиться XХ Міжнародна науково-практична інтернет-конференція «Проблеми та перспективи розвитку науки на початку третього тисячоліття у країнах СНД».</p></blockquote>

<h3>Планується робота за секціями:</h3>

<hr/>

<div class="panel-group" id="accordion">
	<div class="row">
		<div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
            І. БІОЛОГІЧНІ НАУКИ
          	</a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">
						<ol>
						<li>Систематика та географія вищих рослин.</li>
						<li>Структурна ботаніка та біохімія рослин.</li>
						<li>Мікологія та альгологія.</li>
						<li>Ресурсоведення та інтродукція рослин.</li>
						<li>Молекулярна біологія мікробіологія.</li>
						<li>Зоологія.</li>
						<li>Фізіологія людини та тварин.</li>
						<li>Біохімія та біофізика.</li>
						<li>Генетика та цитологія.</li>
						<li>Біоінженерія та біоінформатика.</li>
						</ol>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
            ІІ. ГЕОГРАФІЯ ТА ГЕОЛОГІЯ
          	</a>
          </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
						<ol>
							<li>Регіоноведення і регіональна організація суспільства.</li>
							<li>Спостерігання, аналіз та прогноз метеорологічних умов.</li>
							<li>Гідрологія та водні ресурси.</li>
							<li>Біогеографія, біоресурсоведення, біорізнеоманітність.</li>
							<li>Картографія та геоінформатика.</li>
							<li>Природокористування та екологічний моніторинг.</li>
							<li>Техніка та технологія геологорозвідувальних робіт.</li>
							<li>Ґрунтознавство.</li>
							<li>Економічна географія.</li>
						</ol>
          </div>
        </div>
      </div>      
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
						ІІІ. ДЕРЖАВНЕ УПРАВЛІННЯ
          	</a>
          </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">
						<ol>
							<li>Підвищення ролі державного службовця на сучасному етапі розвитку суспільствах.</li>
							<li>Сучасні технології управління.</li>
							<li>Взаємодія різних гілок влади.</li>
							<li>Підготовка державних службовців.</li>
						</ol>
          </div>
        </div>
      </div>       
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
            ІV. ЕКОЛОГІЯ
          	</a>
          </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
          <div class="panel-body">
          	<ol>
							<li>Стан біосфери та його вплив на здоров’я людей.</li>
							<li>Екологічні та метеорологічні проблеми великих міст і промислових зон.</li>
							<li>Радіаційна безпека та соціально-екологічні проблеми.</li>
							<li>Промислова екологія і медицина праці.</li>
							<li>Проблеми екологічного виховання молоді. 6. Екологічний моніторинг.</li>
						</ol>				
          </div>
        </div>
      </div> 
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
            V. ЕКОНОМІКА
          	</a>
          </h4>
        </div>
        <div id="collapse5" class="panel-collapse collapse">
          <div class="panel-body">
          	<ol>
							<li>Банки та банківська система.</li>
							<li>Зовнішньоекономічна діяльність.</li>
							<li>Фінансові відносини.</li>
							<li>Інвестиційна діяльність та фондові ринки.</li>
							<li>Управління трудовими ресурсами.</li>
							<li>Маркетинг та менеджмент.</li>
							<li>Облік та аудит.</li>
							<li>Математичні методи в економіці.</li>
							<li>Економіка промисловості.</li>
							<li>Економіка підприємства.</li>
							<li>Логістика.</li>
							<li>Економіка АПК.</li>
							<li>Регіональна економіка.</li>
							<li>Економічна теорія.</li>
							<li>Державне регулювання економікою.</li>
							<li>Макроекономіка.</li>
						</ol>
          </div>
        </div>
      </div> 
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
            VI. ІСТОРІЯ
          	</a>
          </h4>
        </div>
        <div id="collapse6" class="panel-collapse collapse">
          <div class="panel-body">
          	<ol>
							<li>Історія України.</li>
							<li>Загальна історія.</li>
							<li>Історія науки і техніки.</li>
							<li>Етнографія.</li>
							<li>Усна історія.</li>
							<li>Військова історія.</li>
						</ol>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
            VII. МАТЕМАТИКА
          	</a>
          </h4>
        </div>
        <div id="collapse7" class="panel-collapse collapse">
          <div class="panel-body">
          	<ol>
							<li>Диференціальні та інтегральні рівняння.</li>
							<li>Перспективи систем інформатики.</li>
							<li>Теорія ймовірностей та математична статистика.</li>
							<li>Прикладна математика.</li>
							<li>Математичне моделювання.</li>
						</ol>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
            VIIІ. МИСТЕЦТВО
          	</a>
          </h4>
        </div>
        <div id="collapse8" class="panel-collapse collapse">
          <div class="panel-body">
          	<ol>
							<li>Музичне мистецтво.</li>
							<li>Мистецтво танцю.</li>
							<li>Театральне мистецтво.</li>
							<li>Фото і кіномистецтво.</li>
							<li>Мистецтво дизайну.</li>
						</ol>
          </div>
        </div>
      </div>            
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
            XIX. ПЕДАГОГІКА
          	</a>
          </h4>
        </div>
        <div id="collapse9" class="panel-collapse collapse">
          <div class="panel-body">
          	<ol>
							<li>Дистанційна освіта у вищий школі.</li>
							<li>Проблеми підготовки фахівців.</li>
							<li>Методичні основи виховного процесу.</li>
							<li>Стратегічні напрями реформування системи освіти.</li>
							<li>Сучасні методи викладання.</li>
							<li>Соціальна педагогіка.</li>
						</ol>
          </div>
        </div>
      </div>            
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
            X. ПОЛІТОЛОГІЯ
          	</a>
          </h4>
        </div>
        <div id="collapse10" class="panel-collapse collapse">
          <div class="panel-body">
          	<ol>
							<li>Виборчі технології.</li>
							<li>Проблеми інтеграції України у світове співтовариство.</li>
							<li>Відносини України з НАТО.</li>
							<li>Відносини України з країнами СНД.</li>
						</ol>
          </div>
        </div>
      </div>            
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
            XI. ПРАВО
          	</a>
          </h4>
        </div>
        <div id="collapse11" class="panel-collapse collapse">
          <div class="panel-body">
          	<ol>
							<li>Історія держави та права.</li>
							<li>Адміністративне і фінансове право.</li>
							<li>Охорона авторських прав.</li>
							<li>Трудове право та право соціального забеспеченя.</li>
							<li>Карне право та кримінологія.</li>
							<li>Боротьба з економічними злочинами.</li>
							<li>Екологічне, земельне та аграрне право.</li>
							<li>Конституційне право.</li>
							<li>Цивільне право.</li>
							<li>Господарське право.</li>
							<li>Криміналістика та судова медицина.</li>
							<li>Підприємницьке та банківське право.</li>
							<li>Кримінально-процесуальне право.</li>
						</ol>
          </div>
        </div>
      </div>            
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse12">
            XII. ПСИХОЛОГІЯ
          	</a>
          </h4>
        </div>
        <div id="collapse12" class="panel-collapse collapse">
          <div class="panel-body">
          	<ol>
							<li>Місце психолога на виробництві.</li>
							<li>Форми роботи психолога-практика.</li>
							<li>Сучасні тенденції в методології психологічних досліджень.</li>
							<li>Психологія тероризму.</li>
							<li>Психолого-виховні проблеми розвитку. особистості в сучасних умовах.</li>
							<li>Клінічна психологія.</li>
							<li>Загальна психологія.</li>
							<li>Педагогічна психологія.</li>
							<li>Психологія розвитку.</li>
							<li>Психологія праці.</li>
							<li>Психофізіологія.</li>
							<li>Соціальна психологія.</li>
						</ol>
          </div>
        </div>
      </div>  
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse13">
            XIII. СОЦІОЛОГІЯ
          	</a>
          </h4>
        </div>
        <div id="collapse13" class="panel-collapse collapse">
          <div class="panel-body">
          	<ol>
							<li>Кадровий менеджмент.</li>
							<li>Сучасні технології соціального опитування.</li>
						</ol>
          </div>
        </div>
      </div>         
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse14">
            XIV. СУЧАСНІ ІНФОРМАЦІЙНІ ТЕХНОЛОГІЇ
          	</a>
          </h4>
        </div>
        <div id="collapse14" class="panel-collapse collapse">
          <div class="panel-body">
          	<ol>
							<li>Комп’ютерна інженерія.</li>
							<li>Обчислювальна техніка та програмування.</li>
							<li>Програмне забезпечення.</li>
							<li>Інформаційна безпека.</li>
						</ol>
          </div>
        </div>
      </div>            
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse15">
            XV. ФІЗИЧНА КУЛЬТУРА ТА ПРОФЕСІЙНИЙ СПОРТ
          	</a>
          </h4>
        </div>
        <div id="collapse15" class="panel-collapse collapse">
          <div class="panel-body">
          	<ol>
							<li>Фізична культура і спорт: проблеми дослідження, пропозиції.</li>
							<li>Розвиток фізкультури і спорту в сучасних умовах.</li>
						</ol>
          </div>
        </div>
      </div>            
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse16">
            XVI. ФІЛОЛОГІЧНІ НАУКИ
          	</a>
          </h4>
        </div>
        <div id="collapse16" class="panel-collapse collapse">
          <div class="panel-body">
          	<ol>
							<li>Методика викладання мови та літератури.</li>
							<li>Риторика і стилістика.</li>
							<li>Теоретичні та методологічні проблеми дослідження мови.</li>
							<li>Синтаксис: структура, семантика, функція.</li>
							<li>Методи та прийоми контролю рівня володіння іноземною мовою.</li>
							<li>Актуальні проблеми перекладу.</li>
							<li>Мова, мовлення, мовна комунікація.</li>
							<li>Українська мова та література.</li>
							<li>Російська мова і література.</li>
							<li>Етно-, соціо- та психолінгвістика.</li>
						</ol>
          </div>
        </div>
      </div>            
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse17">
            XVII. ФІЛОСОФІЯ
          	</a>
          </h4>
        </div>
        <div id="collapse17" class="panel-collapse collapse">
          <div class="panel-body">
          	<ol>
							<li>Філософія літератури та мистецтва.</li>
							<li>Соціальна філософія.</li>
							<li>Історія філософії.</li>
							<li>Філософія культури.</li>
							<li>Філософія релігії.</li>
							<li>Філософія науки.</li>
						</ol>
          </div>
        </div>
	    </div>   
		</div>
	</div>
</div>

<hr/>

<p>Оргкомітет конференції планує розміщувати доповіді на <a href="http://conferences.neasmo.org.ua">цьому сайті</a>. Скачати збірник можна буде через тиждень після закінчення роботи конференції.</p>

<hr/>

<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	<i class="fa fa-globe pull-right"></i>
		    	Робочі мови конференції:
		    </h3>
		  </div>
		  <div class="panel-body">
				<p>українська, російська, англійська, французька, білоруська, грузинська, вірменська, азербайджанська, казахська, узбецька, таджицька, киргизька, молдавська, туркменська.</p>
		  </div>
		</div>
	</div>
	<div class="col-sm-4">

		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	<i class="fa fa-money pull-right"></i>
		    	Вартість участі в конференції:
		    </h3>
		  </div>
		  <div class="panel-body">
				<p>80 грн. (в оргнесок входить оплата за розміщення на сайті, верстака макету та редагування текстів)</p>
		  </div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-success">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	<i class="fa fa-calendar pull-right"></i>
		    	Останній термін подання статей:
		    </h3>
		  </div>
		  <div class="panel-body">
				<p>до 26 лютого 2014 року включно.</p>
		  </div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-sm-6">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	Кошти перераховуються на рахунок:
		    </h3>
		  </div>
		  <div class="panel-body">
				<address>
				<strong>Р/р:</strong> 26002273854001<br>
				<strong>ПАТ КБ</strong> «Надра» ЦЕНТР <br>
				<strong>МФО</strong> 380764 <br>
				<strong>Одержувач:</strong> МГО «Незалежна асоціація молоді». Ідентифікаційний код за ЄДРПОУ – 26426765.<br>
				<strong>Призначення платежу:</strong> благодійний внесок на проведення конференції П.І.П. автора статті.
				<address>
				<hr/>
				<p>Або на картку &laquo;Приват Банк&raquo;:<br/><strong>5457 0829 1319 9290</strong> (одержувач - Бобровнік Юрій Вікторович)<br/>та відправити SMS підтвердження про оплату на мобільний номер:<br/><i class="fa fa-phone"></i> (097) 923-16-58.<br/>У повідомленні потрібно вказати прізвище учасника конференції.</p>
		  </div>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	До участі у конференції приймаються статті:
		    </h3>
		  </div>
		  <div class="panel-body">
		  	<ul class="list-unstyled">
					<li>Обсяг від 5 до 7 сторінок набраних у редакторі Microsoft Word</li>
					<li>У вигляді комп’ютерного файла з розширенням *.doc</li>
					<li>Шрифт Times New Roman 14</li>
					<li>Міжрядковий інтервал 1,5</li>
					<li>Поля з усіх сторін 20 мм</li>
				</ul>
				<hr/>
				<p><strong>Електронною поштою:</strong></p>
				<ul class="list-unstyled">
					<li><strong>E-mail</strong>: <a href="mailto:neasmo@gmail.соm">neasmo@gmail.соm</a></li>
					<li><strong>Тема повідомлення</strong>: &laquo;27-28 лютого 2014 року&rowaquo;</li>
					<li class="text-muted">(уразі якщо у Вас виникає помилка відправлення, спробуйте переслати на адресу neasmo@ukr.net)</li>
				</ul>
				<p><strong>Або на СD-дисках</strong></p>
				<ul class="list-unstyled">
					<li>Із додаванням друкованих матеріалів, та відсканованої копії чи ксероксу квитанції про сплату оргвнеску. (дискети не приймаються)</li>
					<li>У разі відправки коштів оргвнеску на картку Приватбанку ксерокопію квитанції не надсилається (достатньо відправити SMS вказавши прізвище автора доповіді).</li>
				</ul>
		  </div>
		</div>
	</div>	
</div>


<div class="alert alert-info">
<h4><i class="fa fa-info-circle"></i> Зверніть увагу</h4>
<p>У разі відправки статті та квитанції про оплату оргвнеску електронною поштою, надсилати друковані матеріали Укрпоштою не потрібно!</p>
</div>

<div class="alert alert-info">
<h4><i class="fa fa-info-circle"></i> Зверніть увагу</h4>
<p>Після того, як ми отримали від Вас статтю, Ви обов’язково маєте отримати повідомлення-відповідь: «Вашу статтю отримано та зараховано». Якщо така відповідь не надійшла через день після надсилання, тоді обов’язково зателефонуйте оргкомітету і повідомте про ситуацію.</p>
</div>

<div class="alert alert-danger">
	<div class="row">
		<div class="col-md-6">
			<h4><i class="fa fa-warning"></i> Дуже важливо!</h4>
			<p>Роботи з малюнками та таблицями приймаються лише у тому разі, якщо вони подані у форматі JPEG окремим файлом.</p>
		</div>
		<div class="col-md-6">
			<h4>Не приймаються!</h4>
			<ul>
				<li>Документи об’ємом менше 3 сторінок</li>
				<li>Тексти, набрані міжрядковим інтервалом 1,0</li>
			</ul>
		</div>
	</div>
</div>

<p>&nbsp;</p>
<h3 class="text-center">ЗРАЗОК ОФОРМЛЕННЯ СТАТЕЙ</h3>
<p>&nbsp;</p>

<div class="well">
<div class="row">
	<div class="col-md-1">
	</div>
		<div class="col-md-10">
			<p class="text-right">ПІБ автора<br />Місто<br />за зразком Іван Петренко<br />(Київ, Україна)</p>
			<p class="text-right">Секція, підсекція за зразком ФІЛОЛОГІЧНІ НАУКИ<br />(Методика викладання мови та літератури)</p>
			<h3 class="text-center">НАЗВА СТАТТІ<br><small>(великими літерами)</small></h3>
			<p class="text-center">Текст статті<br />(посилання на літературу по тексту у квадратичних дужках за зразком [1, с. 23])</p>
			<p>Література:</p>
			<ol>
			<li>Коцур В.П. Історія середніх віків: [у 2-х т.]. – Т.1. Раннє середньовіччя: курс лекцій. / В.П. Коцур, В.О. Балух. – Чернівці: Наші книги, 2009. – 496 с.</li>
			<li>Пангелов Б.П. Організація і проведення туристсько-краєзнавчих подорожей: навч. посіб. / Б.П. Пангелов. – К.: Академвидав, 2010. – 248 с.</li>
			</ol>
			<p class="text-right">Науковий керівник: кандидат філологічних наук, Петренко Іван Петрович</p>
			<div class="alert alert-info">
			<strong>Увага!</strong>
			<p>Після літератури (у правому куті вказується науковий керівник (для студентів та аспірантів)) подаються відомості про авторів (П.І.П. (повністю) домашня адреса, код міста, телефон, E-mail, місце роботи або навчання, посада, вчене звання, науковий ступінь.</p>
		</div>
	</div>
	<div class="col-md-1">
	</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Координатор:</h3>
		  </div>
		  <div class="panel-body">
				<p>Бобровнік Юрій Вікторович</p>
		    <p><strong>Контактні телефони:</strong></p>
				<p><i class="fa fa-phone"></i> (097) 923 16 58, (093) 335 78 86</p>
		  </div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Адреса оргкомітету:</h3>
		  </div>
		  <div class="panel-body">
				<p>08401, Київська обл. м. Переяслав-Хмельницький, вул. Сухомлинського, 32, гурт. 1, кім. 108.</p>
		  </div>
		</div>
	</div>
</div>

<p class="text-muted text-center">З результатами та форматом проведення попередніх конференцій можна ознайомитися на <a href="http://conferences.neasmo.org.ua">цьому сайті</a>.</p>