<blockquote>
<p>Шановні викладачі, аспіранти, студенти!</p>
<p>Державний вищий навчальний заклад «Переяслав-Хмельницький державний педагогічний університет імені Григорія Сковороди», молодіжна громадська організація «Незалежна асоціація молоді», студентське наукове товариство історичного факультету «Комітет дослідження історії та сучасності»</p>
<p>Інформують Вас, що з 27-28 лютого 2014 р. проводиться XХ Міжнародна науково-практична інтернет-конференція ««Проблеми та перспективи розвитку науки на початку третього тисячоліття у країнах СНД».</p></blockquote>


<h3>Планується робота за секціями:</h3>

<div class="accordion" id="accordion2">
	<div class="row">
		<div class="col-md-4">

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">
            <h4>І. БІОЛОГІЧНІ НАУКИ</h4>
          </a>
        </div>
        <div style="height: auto;" id="collapse1" class="accordion-body collapse">
          <div class="accordion-inner">
						<ol>
						<li>Систематика та географія вищих рослин.</li>
						<li>Структурна ботаніка та біохімія рослин.</li>
						<li>Мікологія та альгологія.</li>
						<li>Ресурсоведення та інтродукція рослин.</li>
						<li>Молекулярна біологія мікробіологія.</li>
						<li>Зоологія.</li>
						<li>Фізіологія людини та тварин.</li>
						<li>Біохімія та біофізика.</li>
						<li>Генетика та цитологія.</li>
						<li>Біоінженерія та біоінформатика.</li>
						</ol>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse2">
            <h4>ІІ. ГЕОГРАФІЯ ТА ГЕОЛОГІЯ</h4>
          </a>
        </div>
        <div style="height: auto;" id="collapse2" class="accordion-body collapse">
          <div class="accordion-inner">
						<ol>
							<li>Регіоноведення і регіональна організація суспільства.</li>
							<li>Спостерігання, аналіз та прогноз метеорологічних умов.</li>
							<li>Гідрологія та водні ресурси.</li>
							<li>Біогеографія, біоресурсоведення, біорізнеоманітність.</li>
							<li>Картографія та геоінформатика.</li>
							<li>Природокористування та екологічний моніторинг.</li>
							<li>Техніка та технологія геологорозвідувальних робіт.</li>
							<li>Ґрунтознавство.</li>
							<li>Економічна географія.</li>
						</ol>
          </div>
        </div>
      </div>      
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse3">
						<h4>ІІІ. ДЕРЖАВНЕ УПРАВЛІННЯ</h4>
          </a>
        </div>
        <div style="height: auto;" id="collapse3" class="accordion-body collapse">
          <div class="accordion-inner">
						<ol>
							<li>Підвищення ролі державного службовця на сучасному етапі розвитку суспільствах.</li>
							<li>Сучасні технології управління.</li>
							<li>Взаємодія різних гілок влади.</li>
							<li>Підготовка державних службовців.</li>
						</ol>
          </div>
        </div>
      </div>       
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
            <h4>ІV. ЕКОЛОГІЯ</h4>
          </a>
        </div>
        <div style="height: auto;" id="collapse4" class="accordion-body collapse">
          <div class="accordion-inner">
          	<ol>
							<li>Стан біосфери та його вплив на здоров’я людей.</li>
							<li>Екологічні та метеорологічні проблеми великих міст і промислових зон.</li>
							<li>Радіаційна безпека та соціально-екологічні проблеми.</li>
							<li>Промислова екологія і медицина праці.</li>
							<li>Проблеми екологічного виховання молоді. 6. Екологічний моніторинг.</li>
						</ol>				
          </div>
        </div>
      </div> 
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse5">
            <h4>V. ЕКОНОМІКА</h4>
          </a>
        </div>
        <div style="height: auto;" id="collapse5" class="accordion-body collapse">
          <div class="accordion-inner">
          	<ol>
							<li>Банки та банківська система.</li>
							<li>Зовнішньоекономічна діяльність.</li>
							<li>Фінансові відносини.</li>
							<li>Інвестиційна діяльність та фондові ринки.</li>
							<li>Управління трудовими ресурсами.</li>
							<li>Маркетинг та менеджмент.</li>
							<li>Облік та аудит.</li>
							<li>Математичні методи в економіці.</li>
							<li>Економіка промисловості.</li>
							<li>Економіка підприємства.</li>
							<li>Логістика.</li>
							<li>Економіка АПК.</li>
							<li>Регіональна економіка.</li>
							<li>Економічна теорія.</li>
							<li>Державне регулювання економікою.</li>
							<li>Макроекономіка.</li>
						</ol>
          </div>
        </div>
      </div> 
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse6">
            <h4>VI. ІСТОРІЯ</h4>
          </a>
        </div>
        <div style="height: auto;" id="collapse6" class="accordion-body collapse">
          <div class="accordion-inner">
          	<ol>
							<li>Історія України.</li>
							<li>Загальна історія.</li>
							<li>Історія науки і техніки.</li>
							<li>Етнографія.</li>
							<li>Усна історія.</li>
							<li>Військова історія.</li>
						</ol>
          </div>
        </div>
      </div>
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse7">
            <h4>VII. МАТЕМАТИКА</h4>
          </a>
        </div>
        <div style="height: auto;" id="collapse7" class="accordion-body collapse">
          <div class="accordion-inner">
          	<ol>
							<li>Диференціальні та інтегральні рівняння.</li>
							<li>Перспективи систем інформатики.</li>
							<li>Теорія ймовірностей та математична статистика.</li>
							<li>Прикладна математика.</li>
							<li>Математичне моделювання.</li>
						</ol>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse8">
            <h4>VIIІ. МИСТЕЦТВО</h4>
          </a>
        </div>
        <div style="height: auto;" id="collapse8" class="accordion-body collapse">
          <div class="accordion-inner">
          	<ol>
							<li>Музичне мистецтво.</li>
							<li>Мистецтво танцю.</li>
							<li>Театральне мистецтво.</li>
							<li>Фото і кіномистецтво.</li>
							<li>Мистецтво дизайну.</li>
						</ol>
          </div>
        </div>
      </div>            
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse9">
            <h4>XIX. ПЕДАГОГІКА</h4>
          </a>
        </div>
        <div style="height: auto;" id="collapse9" class="accordion-body collapse">
          <div class="accordion-inner">
          	<ol>
							<li>Дистанційна освіта у вищий школі.</li>
							<li>Проблеми підготовки фахівців.</li>
							<li>Методичні основи виховного процесу.</li>
							<li>Стратегічні напрями реформування системи освіти.</li>
							<li>Сучасні методи викладання.</li>
							<li>Соціальна педагогіка.</li>
						</ol>
          </div>
        </div>
      </div>            
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse10">
            <h4>X. ПОЛІТОЛОГІЯ</h4>
          </a>
        </div>
        <div style="height: auto;" id="collapse10" class="accordion-body collapse">
          <div class="accordion-inner">
          	<ol>
							<li>Виборчі технології.</li>
							<li>Проблеми інтеграції України у світове співтовариство.</li>
							<li>Відносини України з НАТО.</li>
							<li>Відносини України з країнами СНД.</li>
						</ol>
          </div>
        </div>
      </div>            
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse11">
            <h4>XI. ПРАВО</h4>
          </a>
        </div>
        <div style="height: auto;" id="collapse11" class="accordion-body collapse">
          <div class="accordion-inner">
          	<ol>
							<li>Історія держави та права.</li>
							<li>Адміністративне і фінансове право.</li>
							<li>Охорона авторських прав.</li>
							<li>Трудове право та право соціального забеспеченя.</li>
							<li>Карне право та кримінологія.</li>
							<li>Боротьба з економічними злочинами.</li>
							<li>Екологічне, земельне та аграрне право.</li>
							<li>Конституційне право.</li>
							<li>Цивільне право.</li>
							<li>Господарське право.</li>
							<li>Криміналістика та судова медицина.</li>
							<li>Підприємницьке та банківське право.</li>
							<li>Кримінально-процесуальне право.</li>
						</ol>
          </div>
        </div>
      </div>            
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse12">
            <h4>XII. ПСИХОЛОГІЯ</h4>
          </a>
        </div>
        <div style="height: auto;" id="collapse12" class="accordion-body collapse">
          <div class="accordion-inner">
          	<ol>
							<li>Місце психолога на виробництві.</li>
							<li>Форми роботи психолога-практика.</li>
							<li>Сучасні тенденції в методології психологічних досліджень.</li>
							<li>Психологія тероризму.</li>
							<li>Психолого-виховні проблеми розвитку. особистості в сучасних умовах.</li>
							<li>Клінічна психологія.</li>
							<li>Загальна психологія.</li>
							<li>Педагогічна психологія.</li>
							<li>Психологія розвитку.</li>
							<li>Психологія праці.</li>
							<li>Психофізіологія.</li>
							<li>Соціальна психологія.</li>
						</ol>
          </div>
        </div>
      </div>            
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse13">
            <h4>XIII. СОЦІОЛОГІЯ</h4>
          </a>
        </div>
        <div style="height: auto;" id="collapse13" class="accordion-body collapse">
          <div class="accordion-inner">
          	<ol>
							<li>Кадровий менеджмент.</li>
							<li>Сучасні технології соціального опитування.</li>
						</ol>
          </div>
        </div>
      </div>         
    </div>
    <div class="col-md-4">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse14">
            <h4>XIV. СУЧАСНІ ІНФОРМАЦІЙНІ ТЕХНОЛОГІЇ</h4>
          </a>
        </div>
        <div style="height: auto;" id="collapse14" class="accordion-body collapse">
          <div class="accordion-inner">
          	<ol>
							<li>Комп’ютерна інженерія.</li>
							<li>Обчислювальна техніка та програмування.</li>
							<li>Програмне забезпечення.</li>
							<li>Інформаційна безпека.</li>
						</ol>
          </div>
        </div>
      </div>            
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse15">
            <h4>XV. ФІЗИЧНА КУЛЬТУРА ТА ПРОФЕСІЙНИЙ СПОРТ</h4>
          </a>
        </div>
        <div style="height: auto;" id="collapse15" class="accordion-body collapse">
          <div class="accordion-inner">
          	<ol>
							<li>Фізична культура і спорт: проблеми дослідження, пропозиції.</li>
							<li>Розвиток фізкультури і спорту в сучасних умовах.</li>
						</ol>
          </div>
        </div>
      </div>            
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse16">
            <h4>XVI. ФІЛОЛОГІЧНІ НАУКИ</h4>
          </a>
        </div>
        <div style="height: auto;" id="collapse16" class="accordion-body collapse">
          <div class="accordion-inner">
          	<ol>
							<li>Методика викладання мови та літератури.</li>
							<li>Риторика і стилістика.</li>
							<li>Теоретичні та методологічні проблеми дослідження мови.</li>
							<li>Синтаксис: структура, семантика, функція.</li>
							<li>Методи та прийоми контролю рівня володіння іноземною мовою.</li>
							<li>Актуальні проблеми перекладу.</li>
							<li>Мова, мовлення, мовна комунікація.</li>
							<li>Українська мова та література.</li>
							<li>Російська мова і література.</li>
							<li>Етно-, соціо- та психолінгвістика.</li>
						</ol>
          </div>
        </div>
      </div>            
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse17">
            <h4>XVII. ФІЛОСОФІЯ</h4>
          </a>
        </div>
        <div style="height: auto;" id="collapse17" class="accordion-body collapse">
          <div class="accordion-inner">
          	<ol>
							<li>Філософія літератури та мистецтва.</li>
							<li>Соціальна філософія.</li>
							<li>Історія філософії.</li>
							<li>Філософія культури.</li>
							<li>Філософія релігії.</li>
							<li>Філософія науки.</li>
						</ol>
          </div>
        </div>
    </div>            

		</div>
	</div>
</div>

<p>Оргкомітет конференції планує розміщувати доповіді на web-сторінці за адресою: <a href="http://conferences.neasmo.org.ua">http://conferences.neasmo.org.ua</a></p>



<div class="list-group">
	<a href="#" class="list-group-item">
		<h4 class="list-group-item-heading">Робочі мови конференції:</h4>
		<p class="list-group-item-text">українська, російська, англійська, французька, білоруська, грузинська, вірменська, азербайджанська, казахська, узбецька, таджицька, киргизька, молдавська, туркменська.</p>
	</a>
	<a href="#" class="list-group-item">
		<h4 class="list-group-item-heading">Останній термін подання статей:</h4>
		<p class="list-group-item-text">26 лютого 2014 року (включно).</p>
	</a>	
</div>



<address>
<strong>Вартість участі в конференції:</strong><br>
80 грн. (в оргнесок входить оплата за розміщення на сайті, верстака макету та редагування текстів)<br>
<strong>Об’єм статті:</strong><br>
не більше 7 сторінок
</address>

<p>Скачати збірник можна буде через тиждень після закінчення роботи конференції на <a href="http://conferences.neasmo.org.ua">цьому сайті</a></p>



<address>
<strong>Кошти перераховуються на рахунок:</strong><br>
<strong>Р/р:</strong> 26002273854001<br>
<strong>ПАТ КБ</strong> «Надра» ЦЕНТР <br>
<strong>МФО</strong> 380764 <br>
<strong>Одержувач:</strong> МГО «Незалежна асоціація молоді». Ідентифікаційний код за ЄДРПОУ – 26426765.<br>
<strong>Призначення платежу:</strong> благодійний внесок на проведення конференції П.І.П. автора статті.
<address>


<p>Або на картку Приват банку 5457 0829 1319 9290 (одержувач - Бобровнік Юрій Вікторович) та відправити SMS підтвердження про оплату на моб. 097 923 16 58 у повідомленні вказати прізвище учасника конференції.</p>


<h3 class="text-center">ЗРАЗОК ОФОРМЛЕННЯ СТАТЕЙ</h3>
<div class="well">
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
			<p class="text-right">ПІБ автора<br />Місто<br />за зразком Іван Петренко<br />(Київ, Україна)</p>
			<p class="text-right">Секція, підсекція за зразком ФІЛОЛОГІЧНІ НАУКИ<br />(Методика викладання мови та літератури)</p>
			<h3 class="text-center">НАЗВА СТАТТІ<br><small>(великими літерами)</small></h3>
			<p class="text-center">Текст статті<br />(посилання на літературу по тексту у квадратичних дужках за зразком [1, с. 23])</p>
			<p>Література:</p>
			<ol>
			<li>Коцур В.П. Історія середніх віків: [у 2-х т.]. – Т.1. Раннє середньовіччя: курс лекцій. / В.П. Коцур, В.О. Балух. – Чернівці: Наші книги, 2009. – 496 с.</li>
			<li>Пангелов Б.П. Організація і проведення туристсько-краєзнавчих подорожей: навч. посіб. / Б.П. Пангелов. – К.: Академвидав, 2010. – 248 с.</li>
			</ol>
			<p class="text-right">Науковий керівник: кандидат філологічних наук, Петренко Іван Петрович</p>
			<div class="alert alert-info">
			<strong>Увага!</strong>
			<p>Після літератури (у правому куті вказується науковий керівник (для студентів та аспірантів)) подаються відомості про авторів (П.І.П. (повністю) домашня адреса, код міста, телефон, E-mail, місце роботи або навчання, посада, вчене звання, науковий ступінь.</p>
			</div>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>

<h4>До участі у конференції приймаються статті:</h4>
<ul>
	<li>Обсяг від 5 до 7 сторінок набраних у редакторі Microsoft Word</li>
	<li>У вигляді комп’ютерного файла з розширенням *.doc</li>
	<li>Шрифт Times New Roman 14</li>
	<li>Міжрядковий інтервал 1,5</li>
	<li>Поля з усіх сторін 20 мм</li>
</ul>


<p>Матеріали на конференцію приймаються електронною поштою за адресою: neasmo@gmail.соm (тема повідомлення: 27-28 лютого 2014 р. (уразі якщо Ваш поштовик викидає помилку не відправлення відправляйте на адресу neasmo@ukr.net )) або на СD-дисках (дискети не приймаються ) із додаванням друкованих матеріалів + відскановану копію або ксерокс квитанції про сплату оргвнеску. У разі відправки коштів оргвнеску на картку Приватбанку ксерокопію квитанції не надсилається (достатньо відправити SMS вказавши прізвище автора доповіді).</p>


<div class="alert alert-info">
<strong>Увага!</strong>
<p>У разі відправки статті та квитанції про оплату оргвнеску електронною поштою, надсилати друковані матеріали Укрпоштою не потрібно!</p>
</div>


<div class="alert alert-info">
<strong>Увага!</strong>
<p>Після того, як ми отримали від Вас статтю, Ви обов’язково маєте отримати повідомлення-відповідь: «Вашу статтю отримано та зараховано». Якщо така відповідь не надійшла через день після надсилання, тоді обов’язково зателефонуйте оргкомітету і повідомте про ситуацію.</p>
</div>


<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Координатор:</h3>
		  </div>
		  <div class="panel-body">
				<p>Бобровнік Юрій Вікторович</p>
		    <p><strong>Контактні телефони:</strong></p>
				<p><i class="fa fa-phone"></i> (097) 923 16 58, (093) 335 78 86</p>
		  </div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Адреса оргкомітету:</h3>
		  </div>
		  <div class="panel-body">
				<p>08401, Київська обл. м. Переяслав-Хмельницький, вул. Сухомлинського, 32, гурт. 1, кім. 108.</p>
		  </div>
		</div>
	</div>
</div>


<div class="alert alert-danger">

<div class="row">
	<div class="col-md-6">
		<h4>Зверніть увагу!</h4>
		<p>Роботи з малюнками та таблицями приймаються лише у тому разі, якщо вони подані у форматі JPEG окремим файлом.</p>
	</div>
	<div class="col-md-6">
		<h4>Не приймаються!</h4>
		<ul>
			<li>Документи об’ємом менше 3 сторінок</li>
			<li>Тексти, набрані міжрядковим інтервалом 1,0</li>
		</ul>
	</div>
</div>


</div>

<p class="text-muted">З результатами та форматом проведення попередніх конференцій можна ознайомитися на <a href="http://conferences.neasmo.org.ua">цьому сайті</a>.</p>